<a href="https://colab.research.google.com/github/asantos20/Analise-Vendas/blob/main/Previs%C3%A3o_de_Vendas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Problema de Negócio:** Prever as vendas de um supermercado de acordo com as caractrísticas dos produtos.

In [6]:
# Importação das bibliotecas
import pandas as pd

In [7]:
# Importação das bibliotecas
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split

In [9]:
# Importando os dados

base_train = pd.read_csv('/content/Dados/train.csv')
base_test = pd.read_csv('/content/Dados/test.csv')

In [10]:
# Base Treino
base_train.head()

,Item_Weight,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Item_Outlet_Sales,Item_Fat_Content_LF,Item_Fat_Content_Low Fat,Item_Fat_Content_Regular,Item_Fat_Content_low fat,Item_Fat_Content_reg,...,Outlet_Size_High,Outlet_Size_Medium,Outlet_Size_Small,Outlet_Location_Type_Tier 1,Outlet_Location_Type_Tier 2,Outlet_Location_Type_Tier 3,Outlet_Type_Grocery Store,Outlet_Type_Supermarket Type1,Outlet_Type_Supermarket Type2,Outlet_Type_Supermarket Type3
0,6.800000,0.037490,48.6034,2004,291.6204,0,1,0,0,0,...,0,0,1,0,1,0,0,1,0,0
1,15.600000,0.172597,114.8518,1997,2163.1842,0,1,0,0,0,...,0,0,1,1,0,0,0,1,0,0
2,12.911575,0.054721,107.8254,1985,2387.5588,0,1,0,0,0,...,0,1,0,0,0,1,0,0,0,1
3,11.800000,0.098312,81.4618,1998,161.1236,0,1,0,0,0,...,0,0,0,0,0,1,1,0,0,0
4,17.850000,0.046600,125.1388,2004,1981.4208,0,0,1,0,0,...,0,0,1,0,1,0,0,1,0,0

In [12]:
# Shape

print('Shape base treinamento: ', base_train.shape)
print('Shape base treinamento: ', base_test.shape)

Shape base treinamento:  (1364, 36)
Shape base treinamento:  (341, 36)

Foi desconsiderado o pre-processamento dos dados para deixar mais enxuto esse estudo. Em outro script será detalhada essa parte.